<template>
    <div class="login-wrapper">

        <div class="field">
            <label for="" class="label">Title</label>
            <div class="control">
                <input type="text" class="input" v-model="idea.title">
            </div>
        </div>

        <div class="field">
            <div class="control">
            <button class="button is-info" @click="submitIdea">
                <span class="icon" v-if="loading">
                    <i class="fa fa-spin fa-circle-notch"></i>
                </span>
                &nbsp;
                Submit idea
            </button>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
      return {
          loading: false,
          idea: {
              title: ''
          }
      }
  },

  methods: {
      submitIdea() {
          axios.post('http://localhost:3000/ideas', this.idea)
            .then((res) => {
                console.log(res.data)
            })

            .catch((err) => {
                throw err
            })
      }
  }
}
</script>
