<template>
  <div class="wrapper">
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <router-link :to="{ 'name': 'Home' }" class="navbar-item">
          IDEA.
        </router-link>

        <div class="navbar-burger burger" id="dropdown">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="dropdown" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            Andre.
          </div>
        </div>
      </div>
    </nav>

    <router-view></router-view>

  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
.login-wrapper {
  width: 90%;
  margin: 2rem auto;
}
</style>
