<template>
  <div class="list-wrapper">
      <router-link :to="{'name': 'Idea'}" class="button is-warning">
          <span class="icon">
              <i class="fa fa-plus"></i>
          </span>
          &nbsp; Add idea
      </router-link>

      <div class="card-wrapper">
          <div class="card">
              <div class="card-content">
                  Andre.
              </div>
          </div>
      </div>

      <a href="#" @click="doLogout">Logout</a>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'

export default {
  mounted() {
      axios.get('http://localhost:3000/ideas')
        .then((res) => {
            console.log(res)
        })

        .catch((err) => {
            throw err
        })
  },

  methods: {
      ...mapActions([
          'deleteToken'
      ]),

      doLogout() {
          this.deleteToken()
          this.$router.push({ path: '/signin' })
      }
  }
}
</script>

<style>
.list-wrapper {
    width: 90%;
    margin: 1.2rem auto;
}

.card-wrapper {
    margin: 1.2rem 0;
}
</style>
