<template>
    <div class="login-wrapper">
        <div class="notification is-warning" v-if="errors">
            <button class="delete" data-dismiss="notification">&times;</button>
            {{ errors[0] }}
        </div>

        <div class="field">
            <label for="" class="label">Email</label>
            <div class="control has-icons-left">
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
            <input type="text" class="input" v-model="user.email">
            </div>
        </div>

        <div class="field">
            <label for="" class="label">Password</label>
            <div class="control has-icons-left">
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
            <input type="password" class="input" v-model="user.password">
            </div>
        </div>

        <div class="field">
            <div class="control">
            <button class="button is-info" @click="signin">
                Sign in
            </button>
            </div>
        </div>

        <div class="field">
            Dont have an account?
            <router-link :to="{ 'name': 'Signup' }">
                Sign up
            </router-link>
        </div>
        </div>
</template>

<script>
import { mapActions } from 'vuex'
import axios from 'axios'

export default {
  data() {
      return {
          errors: '',
          user: {
              email: '',
              password: ''
          }
      }
  },

  methods: {
      ...mapActions([
          'setToken'
      ]),

      signin() {
          axios.post('http://localhost:3000/login', this.user)
            .then((res) => {
                localStorage.setItem('token', res.data.auth_token)
                this.$router.push({ path: '/' })
            })

            .catch((err) => {
                this.errors = err.response.data.errors.user_authentication 
            })
      }
  }
}
</script>
