<template>
    <div class="login-wrapper">
        <div class="field">
            <label for="" class="label">Name</label>
            <div class="control has-icons-left">
            <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
            </span>
            <input type="text" class="input" v-model="user.name">
            </div>
        </div>
        <div class="field">
            <label for="" class="label">Email</label>
            <div class="control has-icons-left">
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
            <input type="text" class="input" v-model="user.email">
            </div>
        </div>

        <div class="field">
            <label for="" class="label">Password</label>
            <div class="control has-icons-left">
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
            <input type="password" class="input" v-model="user.password">
            </div>
        </div>

        <div class="field">
            <div class="control">
            <button class="button is-info" @click="register">
                <span class="icon" v-if="loading">
                    <i class="fa fa-spin fa-circle-notch"></i>
                </span>
                &nbsp;
                Sign up
            </button>
            </div>
        </div>

        <div class="field">
            Already have an account?
            <router-link :to="{ 'name': 'Signin' }">
                Sign in
            </router-link>
        </div>
        </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            loading: false,
            user: {
                name: '',
                email: '',
                password: ''
            }
        }
    },

    methods: {
        register() {
            this.loading = true

            axios.post('http://localhost:3000/users', this.user)
                .then((res) => {
                    this.loading = false
                })

                .catch((err) => {
                    throw err
                    this.loading = false
                })
        }
    }

}
</script>
